.contentMetros{
  margin: 0 -10px 20px;
  display: flex;
}
.contentMetros :global(.vtex-input){
  margin: 10px;
}
.container :global(.vtex-button){
  width: 100%;
}
.contentMetrosTotal{
  text-align: center;
  margin: 20px;
}