.installments{
    font-size: 0px;
    color: #282D2F;
    text-align: left;
    line-height: 16px;
}
.installmentsNumber{
    font-size: 12px;
    color: #282D2F;
    font-weight: 900;
}
.installmentValue{
    font-size: 16px;
    color: #282D2F;
    font-weight: 900;
}
.installmentsNumber::after{
    content: 'x de';
    font-size: 12px;
    color: #282D2F;
    margin-right: 2px;
    font-weight: 900;
}
.sellingPrice {
    text-align: left;
}
.sellingPriceValue::before{
    content: 'Preço a vista:';
    font-size: 15px;
    color: #6C6C6C;
    margin-right: 2px;
    font-weight: 400;
}
:global(.vtex-product-summary-2-x-element--shelf) .sellingPriceValue::before{
    content: 'Por:';
    color: #FF6A00;
    font-weight: 900;
    font-size: 12px;
}
.sellingPriceValue{
    color: #6C6C6C;
    font-weight: 900;
    font-size: 15px;
    line-height: 15px;
}
:global(.vtex-product-summary-2-x-element--shelf) .sellingPriceValue{
    color: #FF6A00;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
}

.installments--price-install-prod{
    font-size: 0px;
}
.installmentsNumber--price-install-prod, .installmentValue--price-install-prod{
    font-size: 24px;
    color: #FF6A00;
}
.installmentsNumber--price-install-prod::after{
    font-size: 24px;
    margin-right: 5px;
    color: #FF6A00;
}
.spotPriceSavings{
    background: #51C772;
    padding: 5px 15px;
    border-radius: 15px;
}
.listPriceRange{
    color:#6C6C6C;
    font-size: 16px;
    font-weight: 400;
}
.sellingPrice{
    font-size: 15px;
    font-weight: 900;
    color: #6C6C6C;
}
.listPrice{
    text-align: left;
    border-top: 1px solid #959595;
    padding: 15px 0 10px 0;
    font-size: 12px;
    color: #282D2F;
}