.wishlistIconContainer :global(.vtex-button){
    border: 0 !important;
    position: absolute;
    background: transparent !important;
    top: 5px;
    right: 5px;
}
.iconSize{
    width: 32px;
    height: 32px;
}