/*TOP BAR*/
.paragraph--text-topbar1{
  color: #282D2F;
  font-size: 24px;
  font-weight: 900;

}
.paragraph--text-topbar2{
  color: #FF6A00;
  font-size: 24px;
  font-weight: 900;
  border-style: dashed;
  padding: 0 5px;
}
.italic--text-topbar2{
  color: #282D2F;
  font-style: normal;
  font-weight: 600;
}
:global(.vtex-rich-text-0-x) .container--titulosvitrine {
  width: 100%;
  display: inline-block;
}
.paragraph--titulosvitrine{
  display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: #282D2F;
    width: max-content;
    background: #F8F8F8;
    z-index: 1;
    margin: 25px auto;
    padding: 0 20px;
}

.wrapper--titulosvitrine::after{
  content: '';
  background: #282D2F;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
}
.container--titulosvitrine{margin-top: 20px;}
.headingLevel2--titulosvitrine,.headingLevel3--titulosvitrine {
  color: #282D2F;
  font-size: 24px;
  padding-bottom: 8px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0;
}
.link{color:#282D2F;}

:global(.vtex-store-footer-2-x-footerLayout) .heading {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #fff;
}

:global(.vtex-store-footer-2-x-footerLayout) .headingLevel3 {
  font-size: 30px;
}

:global(.vtex-rich-text-0-x-container--texto-qtd){
  display: flex;
  align-self: center;
}

.paragraph--section-title {
  margin:0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--menu-categorias) .headingLevel2,  :global(.vtex-flex-layout-0-x-flexRowContent--menu-departamentos-title) .headingLevel2{
  color: #eb6a18;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 640px) {

:global(.vtex-flex-layout-0-x-flexRowContent--menu-categorias) .headingLevel2,  :global(.vtex-flex-layout-0-x-flexRowContent--menu-departamentos-title) .headingLevel2{
  font-size: 1.5rem;
}

}

:global(.vtex-flex-layout-0-x-flexCol--menu-categorias-container) .link, :global(.vtex-flex-layout-0-x-flexRowContent--menu-departamentos-title) .link {
  color: #282D2F;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
}

:global(.vtex-store-footer-2-x-footerLayout) .headingLevel4 {
  font-size: 20px;
  color: #fff;
}

:global(.vtex-store-footer-2-x-footerLayout) .headingLevel5 {
  color: #FF6A00;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0px;
}

:global(.vtex-store-footer-2-x-footerLayout) .link {
  color:#fff;
  text-decoration: none;
}

:global(.vtex-store-footer-2-x-footerLayout) .paragraph {
  margin-top:0;
  color: #fff;
  margin-bottom: 5px;
}
.container--navegue-ambientes {
  color: #20211f;
  width: 100%;
}
.paragraph--navegue-ambientes {
  margin: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.065em;
  font-size: 1.5rem;
  display: flex;
  font-weight: 700;
}
.container--titulosvitrine :global(.vtex-rich-text-0-x-wrapper--titulosvitrine){
  display: flex;
  width: 100%;
  position: relative;
}
.image--titulosvitrine{
  margin-right: 5px;
}
.paragraph--copyright-mobile {
  margin-top: 20px!important;
}
.wrapper--button-ofertas-home{
  width: 100%;
}
.link--text-category{
  color: #FF6A00;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}
.paragraph--texto-qtd{
  color: #20211f;
  font-size: 1.188rem;
  font-weight: bold;
  margin: 0;
}

/* Page Location Store */
:global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) :global(.vtex-flex-layout-0-x-flexCol){
  flex-wrap: wrap;
  flex-direction: initial;
}
:global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) :global(.vtex-flex-layout-0-x-flexColChild){
  width: 25%;
  padding: 0 10px;
  margin-bottom: 20px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) .wrapper--col-store-list{
  background: #fff;
  padding: 10px 20px;
  min-height: 235px;
  border-radius: 15px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) .heading{
  margin-bottom: 0;
}

@media only screen and (max-width: 1023px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) :global(.vtex-flex-layout-0-x-flexColChild){
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) :global(.vtex-flex-layout-0-x-flexColChild){
    width: 100%;
  }
}

.container--row-itens-benefits{
    background: #E61617;
    border-radius: 15px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}
.wrapper--row-itens-benefits-cupom .paragraph{
  font-size: 20px;
    line-height: 20px;
    padding-right: 10px;
    text-align: right;
}
.wrapper--row-itens-benefits-desc .headingLevel2{
  font-size: 40px;
  color: #fff;
}
.container--row-itens-cupon{
  background: #E4E5E6;
}
.heading--row-itens-aproveite{
  background: #282D2F;
    margin: -35px 0 0;
    padding: 15px;
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
}
.wrapper--row-itens-cupon .paragraph--row-itens-benefits-desc{
  font-size: 22px !important;
  color: #000 !important;
}
.paragraph--row-itens-benefits-desc{
  color: #E61617 !important;
  font-size: 26px !important;
}

.wrapper--text-footer-left{
  max-width: 400px;
}
.link--button-chat{
  background: #FF6A00;
    padding: 10px;
    border-radius: 15px;
    width: 150px;
    display: block;
}
.container--duvidas-bottom-text, .link--duvidas-bottom-tel{
  margin-left: 10PX;
}
.wrapper--title-disclosure-prod .paragraph{
  color: #282D2F;
  font-size: 22px;
}

/* Mobile */
@media (max-width: 1023px) {
  .wrapper--title-disclosure-prod .paragraph{
    font-size: 18px;
  }
  .wrapper--telefone-footer-mobile{
    font-size: 36px;
    margin-bottom: 10px;
  }
  .headingLevel3--email-footer-mobile, .headingLevel3--atendimento-footer-mobile{
    font-size: 20px !important;
    font-weight: 900 !important;
    margin-bottom: 10px;
  }
}
.container--quadro-left{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 10px;
}
.container--quadro-right{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: #F2F2F2;
  padding: 10px;
}
.paragraph--quadro-left{
  font-size: 15px;
    color: #282D2F;
    font-weight: 600;
}
.paragraph--quadro-right{
  font-size: 15px;
    color: #282D2F;
    font-weight: 400;
}
:global(.vtex-flex-layout-0-x-flexRowContent--pg-institucional) .headingLevel2{
  font-size: 20px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--pg-institucional) .headingLevel3{
  font-size: 18px;
}
.container--fale-conosco-text{
  margin-left: 15px;
}
.container--copyright-desk{
  padding-bottom: 35px;
}
.paragraph--copyright-desk{
  color: #949494 !important;
}
.container--news-text-desk{
  align-items: center;
}
.paragraph--news-text-desk{
  font-weight: 900;
  font-size: 22px;
}
.strong--news-text-desk{
  color: #000;
  font-weight: 900;
}
.paragraph--benefits-footer-content{
  color: #858585 !important;
}
.container--benefits-footer-content{
  text-align: center;
}
.wrapper--benefits-footer-content{
  width: 330px;
}
.container--formas-pag{
  border-bottom: 0.8px solid #C4C4C4;
}
.paragraph--formas-pag{
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #6C6C6C;
  text-decoration: underline;
}
.paragraph--frete-prazo{
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #6C6C6C;
}
.paragraph--formas-pag .image, .paragraph--frete-prazo .image {
  margin-right: 10px;
}