.product-identifier {
    display: block;
    margin-bottom:0.5rem;
    text-align: left;
}
.product-identifier__label{
    font-size: 12px;
}
.product-identifier__value{
    color: #1C3664;
    font-size: 12px;
    font-weight: bold;
}