.title {
    color: #FF6A00;
  font-size: 23px;
  padding-bottom: 8px;
  font-weight: 700;
  text-align: center;
}

:global(.vtex-shelf-1-x-container) :global(.vtex-shelf-1-x-title){
    display:none;
}
.arrow{
    background: #FF6A00;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 100%;
}
:global(.vtex-flex-layout-0-x-flexRowContent--shelfvitrine) .caretIcon{
    color: #fff;
}