:global(.vtex-slider-layout-0-x-slideChildrenContainer--slidercategory){
    text-align: center;
}
.paginationDotsContainer{
    bottom: -15px;
}
.paginationDot--carousel{
    background: #FF6A00;
}
.paginationDot--carousel--isActive{
    background:#282D2F;
    width: 1.625rem !important;
    border-radius: 20px;
}
.sliderTrackContainer--slidercategory{
    padding: 0 25px;
}
.slideChildrenContainer--sliderbenefits{
    display: block !important;
  }
.sliderLayoutContainer--banner-faixa-content{
    max-width: 96rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.caretIcon--sliderbenefits{
    color: #FF6A00;
}
.slide--slidercategory{
    padding: 0 20px;
}