.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.searchBarContainer {
    max-width: 670px;
    margin-right: 2rem;
}

.logoContainer {
    padding:0;
}

.logoLink {
    margin-right: 1.5rem;
}

.logoImage {
    max-width: 100%;   
}

:global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) .logoImage {
    max-height: 46px;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
    height: 60px;
    border: 0;
    border-radius: 10px;
}
.searchBarContainer :global(.vtex-input__suffix) {
    background-size: cover;
    width: 73px;
    height: 60px;
    background-position: center;
}

.container :global(.vtex-flex-layout-0-x-flexRowContent--pdp-view-buy) {
    padding: 0px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--menu-categorias) .imageElementLink {
    display: flex;
    height: 0;
    align-content: center;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.flexColChild{
    text-align: center;
}
:global(.vtex-flex-layout-0-x-flexRowContent--menu-categorias) .imageElementLink .imageElement {
    margin-bottom: -100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.productNameContainer {
    font-weight: 500;
    font-size: 1.8rem;
    margin: 25px 0px 5px;
    color:#1f201e;
}

.productBrandContainer {
    margin-bottom: 0;
}

.productBrandName {
    color:#1f201e;
    font-size: 1.0rem;
    font-weight: 600;
}

.listPriceValue, .sellingPrice {
    padding: 0;
    order: 2;
}

.listPriceLabel, .sellingPriceLabel {
    display: none;
}

.price_listPrice {
    color: #282D2F;
    font-size: 1.2rem;
    font-weight: 500;
} 

.price_sellingPrice {
    font-weight: bold;
    color: #6C6C6C;
    font-size: 16px;
}

.price_installmentContainer, .price_installment, .price_installment{
    color: #FF6A00;
    font-size: 24px;
    font-weight: 900;
    display: none;
}
.price_interestRate{
    display: none;
}
.priceContainer {
    display: flex;
    flex-direction: column;
}
.savingPriceValue {
    background: #8bc34a;
    color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 0.2em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8em;
}

.skuSelectorSubcontainer{
    margin-top: 20px;
}

.skuSelectorName{
    color: #000;
    font-weight: bold;
}

:global(.vtex-store-components-3-x-skuSelectorOptionsList) :global(.vtex-store-components-3-x-skuSelectorItem):first-child{
    margin-left: 0px;
}

:global(.vtex-flex-layout-0-x-flexRow--desc-prod-main) .productDescriptionContainer {
    border-bottom: 1px solid #c4c4c4;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.productDescriptionTitle, .shippingTableRadioBtn {
    display: none;
}

.productDescriptionText {
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: #212220;
}

.productDescriptionText .pointerEventsAuto {
    background: #fff;
    text-align: left;
}

.productDescriptionText .pointerEventsAuto .showMoreButton {
    color: #282D2F;
    background: #fff;
    text-decoration: underline;
    padding: 0;
    margin: 1rem 0;
}

.shippingContainer {
    padding-top: 1rem;
    width: 100%;
    position: relative;
    align-items: center;
}
.shippingContainer :global(.vtex-address-form__postalCode) :global(.vtex-input__label){display: none;}
.shippingContainer :global(.vtex-address-form__postalCode){
    width: 100%;
    margin-right: 15px;
}
.shippingContainer :global(.vtex-button){background: #282D2F;height: 70px;border-radius: 5px;color: #fff;}

.shippingContainer :global(.vtex-input-prefix__group){
    border-radius: 5px;
    height: 70px;
    position: relative;
    border:1px solid #C4C4C4;

}

:global(.vtex-store-components-3-x-searchBarInnerContainer--opened) :global(.vtex-input-prefix__group){
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.imageElement--icon-zapzap{
  max-height: 50px;
  display: block;
  position: fixed;
  bottom: 2%;
  right: 1%;
  left: unset;
  width: 50px;
  z-index: 999999;
}
@media screen and (max-width: 760px) {
  .searchBarContainer {
    margin-right: 0;
  }
}
.infoCardCallActionContainer{width: 100%;}
.infoCardContainer--info-card-ofertas{width: 100%;}
:global(.vtex-store-components-3-x-shareLabel){
    color: #1C3664;
    font-size: 1.18rem;
}
/* Mobile */
@media (max-width: 1023px) {
    .shippingContainer {
        width: 100%;
    }
    .imageElement--img-category{
        max-width: 100px;
    }
    .shippingContainer :global(.vtex-address-form__postalCode)::before {
         font-size: 14px;
    }
}

.productDescriptionText .container{
    padding: 0;
    color: #282D2F;
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
}

.imageElement--icon-favoritos{
    min-width: 40px;
    min-height: 40px;
}
.imageElement--footer-meios-pagamentos{
    width: 40px !important;
}
.imageElement--footer-logo-metodo{
    width: 100px;
}
.imageElement--boleto-ico-prod{
    margin-right: 5px;
}
.imageElement--footer-carrinho-news{
    position: absolute;
    top:-10%;
}

/* SKU */
.skuSelectorItemImage{
    height: 60px;
    width: 60px;
}
.discountInsideContainer{
    background: #51C772;
    padding: 5px 15px;
    border-radius: 15px;
}