.triggerContainer--btn-trigger-calculo{
    border: 2px solid #ff6a00;
    height: 70px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    border-radius: 5px;
    cursor: pointer;
}
.triggerContainer--btn-trigger-calculo :global(.vtex-rich-text-0-x-paragraph){
    font-weight: 900;
}
.paper--modal-calculo{
    padding: 15px;
}