.headerRowBackground--main-header {
    background: #FF6A00;
    padding: 0 0 15px 0;
    position: relative;
}
.headerRowContentContainer--main-menu {
    background:#282D2F;
}
.headerRowContainer{
    justify-content: space-between;
}
.headerRowBackground--main-menu{
    background:#282D2F;
}
.headerRowBackground--top-bar{
    background: #fff;
}